* {
    font-family: 'Segoe UI',  'Arial', sans-serif;
}

body {
    border: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
    overflow-x: hidden;
    user-select: none;
}

#mainPg {
    margin: 0 auto;
}

div > button {
    z-index: 99;
    position: absolute;
}
